

#gallery-wrapper {
  /* max-width: 2000px; */
  /* max-height: 100%; */
  /* width: 100%; */
  /* margin: 2rem auto; */
  /* overflow: hidden; */
  /* height: auto; */
  grid-area: w;
  /* margin-bottom: 7rem; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* grid-template-rows: repeat(8, 1fr); */
  /* grid-auto-rows: 1fr; */
  /* grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 'a a a a a a a a a a a a'
                       'b b b b b b b b b b b b'
                       'c c c c c c c c c c c c'
                       'd d d d d d d d d d d d'
                       'e e e e e e e e e e e e'
                       'f f f f f f f f f f f f'
                       'g g g g g g g g g g g g'
                       'h h h h h h h h h h h h'
                       'i i i i i i i i i i i i'
                       'j j j j j j j j j j j j'
                       'k k k k k k k k k k k k'
                       'l l l l l l l l l l l l'
                       'm m m m m m m m m m m m'
                       'n n n n n n n n n n n n'
                       'o o o o o o o o o o o o';
}
   */
}

 .image-containers {
    padding: 1rem;
} 

.image-containers>img {
    max-width: 100%;
  
  
  }

  @media (min-width: 600px) {
    .image-containers {
      max-width: 50%;
    }
  }

  @media (min-width: 1000px) {
    .image-containers {
      max-width: 33.33%;
    }
  }
/* @media (min-width: 550px) {
  #gallery-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  #gallery-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 2000px) {
  #gallery-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
} */

/* styling for full screen image function (modals) */

.modal-image {
  cursor: pointer;
  transition: 0.3s;
}

.modal-image:hover {
  opacity: 0.7;
}

/* the modal (background) */

.modal {
  display: none; /*hidden by default*/
  position: fixed; /*stays in place*/
  z-index: 1; /*sits on top of page*/
  padding-top: 100px; /*location of the modal box*/
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /*enable scroll if needed*/
  background-color: rgba(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

/* modal content (image) */

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
}