@media (min-width: 375px) {
    #site-wrapper {
        margin-bottom: 5em;
    }
}

@media (min-width: 375px) {
    #image1, #image2, #image3, #image4, #image5 {
        height: 300px;
    }
}

@media (min-width: 450px) {
    #site-title {
        font-size: 2.3rem;
    }
}

@media (min-width: 500px) {
    .about-p {
        margin: 2rem;
        font-size: 1.3rem;
      }

    #about-flexbox img {
    max-width: 250px;
    }
    
}


@media (min-width: 600px) {
    #image1, #image2, #image3, #image4, #image5 {
        height: 370px;
    }
    #site-title {
        font-size: 3rem;
    }

    #grid-container-workshop p {
        font-size: 1.5rem;
        padding: 2rem;
    }

    #grid-container-workshop h1 {
        font-size: 2.5rem;
    }

    .workshop-p {
        padding: 1.2rem;
        font-size: 1.2rem;
      }
    
    #workshop-h1 {
        font-size: 2.5rem;
      }

    #workshop-item-1 {
        height: 350px;
      }

    #workshop-item-2 p, #workshop-item-2 ul {
        padding: 1.5rem;
    }

    .about-p {
        margin: 2rem 2.5rem 2rem;
        font-size: 1.3rem;
      }

    #about-flexbox img {
        width: 300px;
    }

    #about-page-wrapper h2 {
        align-self: center;
        margin: 1rem;
        font-size: 2.5rem;
      }
      
}

@media (min-width: 700px) {
    .about-p {
        margin: 2rem 3rem 2rem;
        font-size: 1.5rem;
      }

      #image1, #image2, #image3, #image4, #image5 {
        
        height: 450px;
    }

    #workshop-item-1 {
        height: 400px;
    }

    
    #workshop-item-2 p, #workshop-item-2 ul {
        padding: 2rem;
        font-size: 1.2rem;
    }
}

@media (min-width: 800px) {
    #image1, #image2, #image3, #image4, #image5 {
        height: 450px;
    }

    
}

@media (min-width: 850px) {
    #site-title {
        align-self: flex-start;
        font-size: 3.7rem;
        padding-top: 3rem;
    }

    div.menu-wrap {
        display: none;
    }

    #large-nav-bar > a:link {
        text-decoration: none;
        color: black;
    }

    #large-nav-bar {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 1em;
        font-size: 1.5em;
        width: 50%;
        color: black;
    }

    #large-nav-bar > li {
        padding: 1rem;
    }

    header {
        justify-content: space-around;
        width: 100%;
    }


    #workshop-photo-wrapper img {
        max-width: 75%;
        text-align: center;
        margin: auto;
      }

      .workshop-items > img {
          margin: auto;
      }

      #workshop-photo-wrapper {
          align-items: center;
      }
    
      #about-flexbox {
        display: flex;
        flex-direction: row;
        margin: 1rem 4rem 1rem;
        justify-content: flex-start;
      }

      #about-flexbox img {
          margin: 2rem;
      }
      

    
}

@media (min-width: 1024px) {
    #site-title {
        align-self: flex-start;
        font-size: 3.7rem;
        padding-top: 3rem;
    }

    #large-nav-bar {
        align-self: flex-start;
        font-size: 1.9rem;
    }

    #image1, #image2, #image3, #image4, #image5 {
        /* height: 450px; */
    }

    #workshop-item-1 {
        height: 500px;
    }

 

    /* #workshop-wrapper {
        display: grid;
        width: 100%;
        grid-template-rows: repeat(6, auto);
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 'h h h h h h h h h h h h'
                             '1 1 1 1 2 2 2 2 3 3 3 3'
                             '1 1 1 1 2 2 2 2 3 3 3 3'
                             '1 1 1 1 2 2 2 2 3 3 3 3'
                             '1 1 1 1 2 2 2 2 3 3 3 3'
                             '1 1 1 1 2 2 2 2 3 3 3 3'
      } 

      #workshop-h1 {
        grid-area: h;
      }
      

    #workshop-item-1 {
        grid-area: 1; 
    }

    #workshop-item-2 {
        grid-area: 2; 
    }

    #workshop-item-3 {
        grid-area: 3;
    } */


    
}

@media (min-width: 1024px) {
    #site-title {
        align-self: flex-start;
        font-size: 3.7rem;
        padding-top: 3rem;
    }

    #large-nav-bar {
        align-self: flex-start;
        font-size: 1.9rem;
        justify-content: flex-start;

    }

   
    #image1, #image2, #image3, #image4, #image5 {
        /* height: 900px; */
        width: 80%;
        margin: 2rem auto;
        /* height: 600px; */
    }

    footer {
        margin-top: 3rem;
    }


    #artwork-page-wrap {
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
    }

    #artwork-page-wrap h1 {
        font-size: 3.5rem;
    }

    #artwork-page-wrap h2 {
        font-size: 2rem;
    }

    #workshop-wrapper {
        grid-area: w;
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 'a a a a a a a a a a a a'
                             'b b b b b b c c c c c c'
                             'b b b b b b c c c c c c'
                             'b b b b b b c c c c c c'
                             'b b b b b b c c c c c c'; 
        /* align-items: center; */
        width: 100%;
        height: 100%;
      }
      
      #workshop-item-1 {
          margin-top: 1rem;
      }

      #workshop-item-2 {
          font-size: 1.2rem;
      }

    
}

@media (min-width: 1200px) {

    #contact-text {
        margin-top: 5rem;
        padding: 2rem;
    }

    

    #grid-container-contact {
        width: 100%;
        display: grid;
        height: 100%;
        font-family: 'Roboto', sans-serif;
        line-height: 1.4;
        grid-template-rows: 25% auto auto 25%;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 'h h h h h h h h h h h h'
                             't t t t t t w w w w w w'
                             't t t t t t w w w w w w'
                             'f f f f f f f f f f f f';
      }
}

@media (min-width: 1270px) {
    #large-nav-bar li {
        padding: 1.5rem;
    }

    #site-title {
        font-size: 4.5rem;
    }

    #large-nav-bar {
        font-size: 2.3rem;
    }

    #image1, #image2, #image3, #image4, #image5 {

        width: 70%;
        height: 600px;
        
        /* height: 700px; */
    }


}

