
/* general site styling start */
:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  cursor: pointer;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#grid-container {
  width: 100%;
  display: grid;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  grid-template-rows: 25% auto auto 25%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 'h h h h h h h h h h h h'
                       'w w w w w w w w w w w w'
                       'w w w w w w w w w w w w'
                       'f f f f f f f f f f f f';
}

#grid-container-on-workshops {
  width: 100%;
  display: grid;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  grid-template-rows: 25% auto auto 25%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 'h h h h h h h h h h h h'
                       'w w w w w w w w w w w w'
                       'w w w w w w w w w w w w'
                       'f f f f f f f f f f f f';
}

header {
  /* margin-top: 1.4em; */
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  grid-area: h;
  justify-self: end;
}

body {
  height: 100%;
}


#large-nav-bar {
  display: none;
}

#site-wrapper {
  max-width: 2000px;
  max-height: 100%;
  width: 100%;
  margin: auto;
  /* overflow: hidden; */
  height: auto;
  grid-area: w;
  margin-bottom: 7rem;
}



#artwork-page-wrap {
  display: flex;
  flex-direction: column;
  max-width: 2000px;
  height: 25rem;
  width: 100%;
  margin: auto;
  overflow: hidden;
  background-color: #000;
  width: 100%;
  grid-area: w;
  margin-bottom: 2rem;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  color: white;
}


/* slideshowImages */

#image1 {
  background-image: url("image/pexels-photo-1194420.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
}

#image2 {
  background-image: url("image/pexels-photo-1572386.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
}

#image3 {
  background-image: url("image/pexels-photo-1690351.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
}

#image4 {
  background-image: url("image/pexels-photo-1939485.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
}

#image5 {
  background-image: url("image/pexels-photo-2086361.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
}

/* .mySlides {
  display: none;
} */

.fade {

  animation-name: fade;
  animation-duration: 7s;
  animation-timing-function: ease-out;
}


@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 0.8rem;
  grid-area: f;
  align-self: end;
  padding-bottom: 2em;
}

footer > div {
  display: flex;
  align-items: center;
}

#instagram {
  max-width: 2rem;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}



/* general site styling end */

/* showcase are styling start */

.showcase {
  background-color: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: '';
  background: url("http://upload.wikimedia.org/wikipedia/commons/6/66/VanGogh-starry_night_ballance1.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase h1 {
  font-size: 4rem;
}

.showcase p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  transition: opacity 1s ease-in;
}

.btn:hover {
  opacity: 0.7;
}

/* showcase area styling end */

/* menu styling start */

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  border: 1px solid black;
  margin: 0.3em;
}

/* menu styling end */

/* hamburger lines, middle, top and bottom */

.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;

}

/* the below moves one of two lines down to create three lines on hamburger */

.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* toggler animate */

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* turn hamburger lines into x shape */

.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

/* rotate slightly on hover when in checked state */

.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* show the menu */

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: 0.4s ease;
}


.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vh;
  height: 200vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vh;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}


.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
















#site-title {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
  letter-spacing: 0.1rem;
  color: black;
}

#site-title > a {
  color: black;
}


#artwork-page-wrap h1 {
  font-size: 2.5rem;
}
#artwork-page-wrap .artwork-page-text a {
  color: white;
  padding: 2rem;
  margin: 1rem;
  /* border-bottom: white 1px solid; */
  cursor: pointer;
}


.selected {
  color: gray;
}

.hoverClass {
  cursor: pointer;
}

.hoverClass:hover {
  color: gray;
}

/* workshop page styles */

.workshop-image {
  width: 100%;
  height: auto;
  margin: 1rem auto 1rem;
}

#workshop-h1 {
  border-top: 1px solid #000;
  margin-top: 2rem;
  text-align: center;
}



#workshop-wrapper {
  grid-area: w;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
} 

#workshop-photo-wrapper {
  display: flex;
  flex-direction: column;
}


.workshop-p {
  padding: 0.8rem;
}

.workshop-items {
  margin: 0.2rem;
}


/* about page styles */

#about-page-wrapper {
  grid-area: w;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#about-page-wrapper h2 {
  align-self: center;
  margin: 1rem;
  font-size: 1.7rem;
}

#about-flexbox {
  display: flex;
  flex-direction: column;
}

#about-flexbox img {
  max-width: 200px;
  margin: auto;
}

.about-p {
  margin: 1rem;
}


